#clock{
    color: black;
    text-align: center;
    font-size: 20vh;
    text-decoration: solid;
}

#banner{
    font-size: 12vh;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image: url(https://img.freepik.com/free-vector/blue-data-technology-background-vector-with-binary-code_53876-110871.jpg?size=626&ext=jpg&ga=GA1.2.353570627.1659449692);
    background-repeat: no-repeat;
    background-size: cover;
}